@import url('https://fonts.googleapis.com/css?family=Overpass');


.events2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: -1%;
  font-family: 'Overpass', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.heading{
  font-family: 'Overpass', sans-serif;
  font-size: 2.2vw;
  width: 90%;  
  text-align: center;
  color: #ffffff;

}


@media only screen and (max-width: 1050px){



}


@media only screen and (max-width: 600px){

.events2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: -5%;
  margin-bottom: -5%;
  font-family: 'Overpass', sans-serif;
  font-size: 17vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.heading{
  font-family: 'Overpass', sans-serif;
  margin-bottom: 10%;
  font-size: 6vw;
  width: 90%;  
  text-align: center;
  color: #ffffff;

}


}