@import url('https://fonts.googleapis.com/css?family=Overpass');


.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.contactus{
  font-family: 'Overpass', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  margin-top: -0.1%;
  text-align: center;
  color: #ffffff;
}

.number1{
  font-family: 'Overpass', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  margin-top: -2%;
  text-align: center;
  color: #ffffff;
}
.number2{
  font-family: 'Overpass', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  margin-top: -1%;
  text-align: center;
  color: #ffffff;
}

.mailus{
  font-family: Overpass;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  color: #f5a623;
}

.mail{
	font-family: Overpass;
	margin-top: -2%;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: #f5a623;
}

.reachus{
  font-family: Overpass;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.address{
  font-family: Overpass;
  margin-top: -1%;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.developer{
  font-family: Overpass;
  font-size: 3vw;
  font-weight: normal;
  color: #f5a623;
}

@media only screen and (max-width: 600px){


.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.contactus{
  font-family: 'Overpass', sans-serif;
  font-size: 10vw;
  font-weight: bold;
  margin-top: -0.1%;
  text-align: center;
  color: #ffffff;
}

.number1{
  font-family: 'Overpass', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  margin-top: -2%;
  text-align: center;
  color: #ffffff;
}
.number2{
  font-family: 'Overpass', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  margin-top: -1%;
  text-align: center;
  color: #ffffff;
}

.mailus{
  font-family: Overpass;
  font-size: 7vw;
  font-weight: bold;
  text-align: center;
  color: #f5a623;
}

.mail{
	font-family: Overpass;
	margin-top: -2%;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  color: #f5a623;
}

.reachus{
  font-family: Overpass;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.address{
  font-family: Overpass;
  margin-top: -1%;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.developer{
  font-family: Overpass;
  font-size: 7vw;
  font-weight: normal;
  color: #f5a623;
}


}