@import url('https://fonts.googleapis.com/css?family=Overpass');

.zenith2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.What-is-Zenith {
  width: 100%;
  position: relative;
  top:0%;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 6vw;
  font-weight: bold;
  color: #ffffff;
}

.para1{
  font-family: 'Overpass', sans-serif;
  font-size: 2.1vw;
  font-weight: bold;
  text-align: justify;
  color: #ffffff;
}

.para2{
  font-family: Overpass;
  font-size: 2.1vw;
  font-weight: bold;
  text-align: justify;
  color: #f5a623;
}

.div1{
  width: 40%;

}
.div2{
  width: 50%;
}
.svg1{
  margin-bottom: -40%;
}
.svg2{
  margin-left: 20%;
}

@media only screen and (max-width: 1050px){

.div1{
  width: 30%;
}
.div2{
  width: 40%;
}

.svg1{
  margin-bottom: -60%;
    opacity: 0.7;

}
.svg2{
  margin-left: 30%;
  opacity: 0.7;
}


.para1{
  font-family: 'Overpass', sans-serif;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: justify;
  color: #ffffff;
  
}

.para2{
  font-family: Overpass;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: justify;
  color: #f5a623;
}
}

@media only screen and (max-width: 600px){

.What-is-Zenith {
  width: 100%;
  position: relative;
  top:0%;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 10vw;
  font-weight: bold;
  color: #ffffff;
}

.para1{
  font-family: 'Overpass', sans-serif;
  font-size: 6vw;
  font-weight: bold;
  color: #ffffff;
}

.para2{
  font-family: Overpass;
  font-size: 5vw;
  font-weight: bold;
  color: #f5a623;
}

.div1{
  width: 100%;
}
.div2{
  width: 90%;
}
.svg1{
  position: absolute;
  opacity: 0.4;
  top: 40%;
  left: 0%;
}

.svg2{
  position: absolute;
  opacity: 0.4;
  top: 20%;
  right: 0%;
}


}